@import "tailwindcss";

@theme {
  --color-brand: #CC1111;
  --font-condensed: "Barlow Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}